.raleway {
    font-family: "Raleway", sans-serif;
    font-weight:bold;
    margin-right: 93px;
}
.header {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}
.flex {
    display: flex;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-list {
    display: flex;
    margin-right: 344px;
}
.h {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #ffffff;
}
.header-li:not(:last-child) {
    margin-right: 50px;
}
.h:hover{
    color: #94CFFF;
    cursor: pointer;
}
.header-list2 {
    display: flex;
    
}
.header-li2:not(:last-child) {
    margin-right: 50px;
}

.header {
    background-image: url(./Rectangle\ 104.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.section1 {
    background-image: url(./Group\ 48\ 1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    height: 740px;
}

.section2 {
   background-repeat: no-repeat;
   background-size: cover;
    
}

.section3 {
    background-image: url(./Rectangle\ 10.png);
   background-repeat: no-repeat;
   background-size: cover;
    height: 741px;
}

.section4 {

   background-repeat: no-repeat;
   background-size: cover;
    
}

.section5 {
   background-image: url(./Rectangle\ 20.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 704px;
}

.section6 {

   background-repeat: no-repeat;
   background-size: cover;
  
}

.footer {
    background-image: url(./Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 223px;
}

.footer-li {
    color: white;
}

.language-list {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 240px);
    grid-auto-rows: 240px;
    column-gap: 20px;
}