.raleway {
    font-family: "Raleway", sans-serif;
    font-weight:bold;
    margin-right: 93px;
}
.header {
    display: flex;
    padding-bottom: 25px;
}
.flex {
    display: flex;
}
.logoweb {
    height: 72px;
    width: 186px;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    margin-right: 212px;
}
.h {
color: #ffffff;
}
.header-li:not(:last-child) {
    margin-right: 50px;
}
.h:hover{
    color: #2196F3;
    cursor: pointer;
}
.header-list2 {
    display: flex;
    
}
.header-li2:not(:last-child) {
    margin-right: 50px;
}

.header {
    background-image: url(./Rectangle\ 104.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.section1 {
    background-image: url(./Group\ 48\ 1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    height: 740px;
}

.section2 {
   background-repeat: no-repeat;
   background-size: cover;
     text-align: center;
}

.section3 {
    background-image: url(./Rectangle\ 10.png);
   background-repeat: no-repeat;
   background-size: cover;
    height: 741px;
}

.section4 {

   background-repeat: no-repeat;
   background-size: cover;
     text-align: center;
}

.section5 {
   background-image: url(./Rectangle\ 20.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 704px;
}

.section6 {

   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}


.footer {
    background-image: url(./Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 223px;
}

.footer-li {
    color: white;
}

.language-list {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(1, 240px);
    grid-auto-rows: 120px;
    column-gap: 20px;
    padding: 12px;
    justify-content: center;
    text-align: center;
}

.language-list-li {
    box-sizing: border-box;
    background: #ffffff;
  background-color: rgba(255, 255, 255, 0.697);
}

.learn {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 33px;
}

.s2-h2-n1 {
    padding-top: 75px ;
}
.s2-h2-n2 {
    padding-top: 4px;
    padding-bottom: 16px;
}
.s2-h3 {
    padding-bottom: 8px;
}
.s2-img {
    padding-bottom: 14px;
}

.s4-h2-n1 {
padding-top: 71px;
}
.s4-h2-n2 {
 padding-top: 4px;
    padding-bottom: 16px;
}
.s4-h3 {
padding-bottom: 8px;
}
.s4-img {
 padding-bottom: 51px;
}

.s6-h2-n1 {
padding-top: 34px;
}
.s6-h2-n2 {
padding-top: 4px;
    padding-bottom: 16px;
}
.s6-h3 {
padding-bottom: 8px;
}
.s6-img {
    padding-bottom: 10px;
}

.s1_text {
  position: absolute;
width: 376px;
height: 381px;
left: 204px;
top: 330px;  
}

.img_list {
position: absolute;
width: 50px;
height: 141px;
left: 1186px;
top: 450px;
}

.button_s1_text {
font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

text-align: justify;

color: #26C7EA;


box-sizing: border-box;

position: absolute;
width: 260px;
height: 80px;
left: 1px;
top: 270px;

text-align: center;

background: #0B0E66;
border: 3px solid #26C7EA;
border-radius: 45px 0px;

}

.language-list-li {
font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;

text-align: center;

color: #141414;
padding-top: 36px;
padding-bottom: 40px;

}

.aaa {
    padding-left: 180px;
    border-left: 1px solid #ffffff;
    margin-left: 80px;
    width: 689px;
}

.a3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;

    color: #ffffff;
    margin-top: 37px;
    text-align: center;
}

.overlay {
    background-color: #2b4a61c7;
    padding-top:50px;
    bottom: 0;
    width: 100%;
    height: 223px;
    left: 0;
}

.ы {
    color: #ffffff;
}

.overlay-header {
    background-color: #2b4a61c7;
padding-top: 51px;
    bottom: 0;
    width: 100%;
    height: 150px;
    left: 0;
}


.header-li2 {

box-sizing: border-box;

background: #0B0E66;
border: 2px solid #26C7EA;
border-radius: 35px 0px;

position: absolute;
width: 68px;
left: 1200px;

font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: justify;

color: #26C6EA;

box-sizing: border-box;

position: absolute;
width: 141px;
height: 41.69px;
left: 1095px;
top: 54px;

background: #0B0E66;
border: 2px solid #26C7EA;
border-radius: 35px 0px;

position: absolute;
width: 65px;
height: 25px;
left: 1133px;
top: 63px;

font-family: 'HeadlandOne';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

text-align: justify;

color: #26C6EA;


}

.s3_button {
box-sizing: border-box;

background: #0B0E66;
border: 3px solid #26C7EA;
border-radius: 45px 0px;

position: absolute;
width: 260px;
height: 80px;
left: 840px;
top: 1525px;

font-size: 24px;
line-height: 30px;

text-align: justify;
text-align: center;

color: #26C7EA;
}

.logoweb-footer {
position: absolute;
  top: 3350px;       
  left: 170px;     
  height: auto;
  width: 200px; 

}